# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
results/
uploads/
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually contains pyc files and executables
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# PyLint
.pylint.d/

# PyCharm / JetBrains IDEs
.idea/

# VS Code
.vscode/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
*.env

# virtualenv
*.venv

# Spyder IDE
.spyderproject
.spyderworkspace

# Rope project
.ropeproject

# Pytest
.pytest_cache/

# Local settings
*.local

# SQLite DB
*.sqlite3

# Logs
*.log

# Django specific
staticfiles/
media/
db.sqlite3

# Flask specific
instance/
.webassets-cache
